flask
flask-cors
waitress
transformers
diffusers
moviepy
temp
TIME-python
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118 -> run seperate
numpy
opencv-python
pathlib
accelerate
datasets
