.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .config {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .input_field {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  
  .input-box {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
  }
  
  .ask {
    display: flex;
    justify-content: space-between;
    width: 100%;

  }
  
  .question {
    flex: 1;
    height: 200px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    vertical-align: top;
  }
  
  .result {
    flex: 1;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    vertical-align: top;

  }
  
  .submit {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit:hover {
    background-color: #3e8e41;
  }
  